html,
body {
	height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
}

button.accordion-button.collapsed {
	background: rgba(75, 70, 92, 0.04);
	border-radius: 6px;
	border: 0;
	/* padding: 8px; */
	width: 100%;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	flex: none;
	order: 1;
	flex-grow: 1;
	text-align: left;
	margin-bottom: 25px;
}

.accordion-item {
	background-color: unset !important;
	border: none !important;
}
button.accordion-button.collapsed {
	border: 1px solid #ffffff;
	background: #ffffff;
}
.accordion-flush .accordion-collapse {
	border-radius: 6px !important;
	background: #ffffff;
}
button.accordion-button.collapsed {
	border-radius: 6px !important;
}
.accordion-flush .accordion-item .accordion-button {
	border-radius: 6px;
}
.accordion-button:not(.collapsed) {
	color: black;
	background-color: #ffffff;
	box-shadow: unset;
	font-weight: 500;
}
.accordion-button:focus {
	border-color: unset;
	box-shadow: none;
}
